<doctype html>
    <title>List instituicao e medico - Flask</title>
    <body style="padding:20px">
      {% if cursor %}
        <table border="2px">
          <thead>
            <tr>
              <th>nome</th>
              <th>tipo</th>
              <th>num_regiao</th>
              <th>num_concelho</th>
            </tr>
          </thead>
          <tbody>      
            {% for record in cursor %}
              <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
                <td>{{ record[3] }}</td>
                <td><a href="editar_instituicao?nome={{ record[0] }}&tipo={{ record[1] }}&num_regiao={{ record[2] }}&num_concelho={{ record[3] }}">Editar</a></td>
                <td><a href="remove_inst?nome={{ record[0] }}&tipo={{ record[1] }}&num_regiao={{ record[2] }}&num_concelho={{ record[3] }}">Remover</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <p><a href="inserir_instituicao">Inserir</a></p>
      {% else %}
        <p> Erro: ao obter dados da base de dados!</p>
      {% endif %}
    </body>
    </doctype>