<doctype html>
    <title>List medico - Flask</title>
    <body style="padding:20px">
        {% if cursor %}
        <table border="2px">
          <thead>
            <tr>
              <th>num_cedula</th>
              <th>nome</th>
              <th>especialidade</th>
            </tr>
          </thead>
          <tbody>      
            {% for record in cursor %}
              <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
                <td><a href="editar_medico?num_cedula={{ record[0] }}&nome={{ record[1] }}&especialidade={{ record[2] }}">Editar</a></td>
                <td><a href="remove?num_cedula={{ record[0] }}&nome={{ record[1] }}&especialidade={{ record[2] }}">Remover</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p> Erro: ao obter dados da base de dados!</p>
      {% endif %}
    </body>
    </doctype>