<doctype html>
  <title>List Prescricao Venda - Flask</title>
  <body style="padding:20px">
    {% if cursor %}
      <table border="2px">
        <thead>
          <tr>
            <th>num_cedula</th>
            <th>num_doente</th>
            <th>data</th>
            <th>substancia</th>
            <th>num_venda</th>
          </tr>
        </thead>
        <tbody>      
          {% for record in cursor %}
            <tr>
              <td>{{ record[0] }}</td>
              <td>{{ record[1] }}</td>
              <td>{{ record[2] }}</td>
              <td>{{ record[3] }}</td>
              <td>{{ record[4] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    <br />
    {% else %}
      <p> Erro: ao obter dados da base de dados!</p>
    {% endif %}

  </body>
  </doctype>